.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  img {
    width: 50%;
  }
  h1 {
    color: rgb(233, 238, 245);
    font-size: 20px;
    padding: 20px;
    @include screen(lg) {
      font-size: 30px;
    }
  }
  button {
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: rgb(5, 129, 245);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover {
    background: rgba(5, 129, 245, 0.778);
  }
}
