@import "../../utils/variables";

.drawer-desktop {
    @extend %drawer;
    visibility: hidden;

    @include screen(lg) {
        visibility: visible;
        min-height: 100vh;
        width: 170px;
        margin-bottom: 0;
    }
}
