@import "../../utils/variables";

.user-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include screen(lg) {
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    .card-profile-pic {
        height: 75px;
        width: 75px;
        margin: auto auto;
        border-radius: 50%;
        @include screen(lg) {
            height: 40px;
            width: 40px;
            margin: 0;
        }
    }

    .user-card-name {
        @include screen(lg) {
            margin-left: 1rem;
        }
    }
}
