@import "../../utils/variables";
.btn {
    @extend %button;
    display: flex;
    align-items: center;
    height: 35px;
    width: 2rem;
    .btn-item-icon {
        size: 15px;
        margin-left: 0.25rem;
    }
    .btn-item-label {
        margin-left: 0.5rem;
    }
}

.btn-full {
    width: 90%;
}
