@import "../../utils/variables";

.sm {
    @include screen(sm) {
        display: none;
    }
}
.md {
    display: none;
    @include screen(sm) {
        display: block;
    }
    @include screen(lg) {
        display: none;
    }
}
.lg {
    display: none;
    @include screen(lg) {
        display: block;
    }
}
