@import "../../utils/variables";

.logo-main {
    @extend %button;
    @extend %default-flex;

    height: auto;
    padding: 0.25rem 0.6rem 0.25rem 0.6rem;
}

.logo-calendar {
    color: var(--primary-100);
    margin-left: 0.2rem;
}

.logo-desktop {
    visibility: hidden;
    @include screen(lg) {
        visibility: visible;
    }
}
