@import "../../utils/variables";

.calendar {
    display: flex;
    flex-direction: column;
    .calendar-header,
    .calendar-grid {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        text-align: center;

        li {
            list-style: none;
        }
        .calendar-header-item,
        .calendar-grid-item {
            padding: 6px;
            border-radius: 10px;
            @include screen(lg) {
                padding: 4px;
                font-size: small;
            }
        }
        .calendar-grid-item:not(.selected-item) {
            transition: background 200ms;

            &:hover {
                background-color: var(--base-lighter-100);
                cursor: pointer;
            }
        }
        .dimmed-item {
            color: var(--base-content-200);
        }
        .selected-item {
            background-color: var(--primary-300);
            border-radius: 15px;
            transition: none;
        }
    }
    .calendar-header {
        color: var(--base-content-100);
    }
}
